<div class="container">
<h1>Ask here</h1>

<form action="/answer" method="get" data-turbo="false"> 
   <input type="text" name="question" class="form-control"  aria-describedby="emailHelp" placeholder="Type your question…">
    <button type="submit" class="btn btn-primary mt-20">Ask!</button>
</form>
</div>
